name: Main workflow
on: [push]
jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    steps:
      - name: Setup Bosun
        uses: naveego/setup-bosun@master

      - run: echo $BOSUN_CONFIG
      - run: cat $BOSUN_CONFIG
      - run: bosun platform list --verbose
      - run: bosun ws show imports

      - name: bosun version
        run: bosun --version

      - run: bosun env current
