  
name: Main workflow
on: [push]
jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    steps:

    - name: Setup Bosun
      uses: naveego/setup-bosun@master

    - name: bosun version
      run: bosun --version