name: Main workflow
on: [push]
jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    steps:
      - name: Setup Bosun
        uses: naveego/setup-bosun@master

      - run: pwd

      - run: |
          env
          echo $BOSUN_CONFIG

      - name: bosun version
        run: bosun --version

      - run: bosun env current
